<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Gnemes Search{% endblock %}</title>
        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="German Nemes">
        <meta name="keywords" content="Search, Gnemes">
        <meta name="robots" content="all">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% block body %}
            <h1>
            {{gnemes.title}}
            </h1>
            
            {{ form_start(form) }}
            <div class="control-group">
                <h3>Text to search</h3>
                <div class="controls">
                        {{ form_row(form.needle, { 'attr': {'class': 'form-control input-lg', 'placeholder': 'Text to search'} }) }}
                </div>
            </div>
            {{ form_rest(form) }}
            {{ form_end(form) }}
        {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>